@import "../../variables.scss";

.left-nav {
  position: absolute;
  top: 0;
  left: 0;

  width: 30vw;
  height: 100vh;

  background: $bg-black;
  color: $text-white;

  display: flex;
  flex-direction: column;

  align-items: flex-start;

  padding: 1rem 1.5rem;
  box-sizing: border-box;

  .title {
    margin-bottom: 1rem;
  }

  hr {
    width: 100%;
    margin: 0;
  }

  .files-header {
    margin: 1rem 0;
    font-size: 1.2rem;
  }

  .files {
    flex: 1 1;
    overflow: scroll;
  }

  .foot {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    span {
      color: $text-gray;
    }
    a {
      font-size: 1.2rem;
      margin-top: 0.3rem;
    }
  }
}