<div class="left-nav">
  <a class="title serif" routerLink="/">MediumWell</a>
  <hr>
  <span class="new-file clickable" (click)="newDocument()">New File</span>
  <span class="files-header clickable" routerLink="/dashboard">My Files</span>
  <div class="files">
    <a *ngFor="let doc of firestoreService.docs" routerLink="/editor/{{doc.id}}">{{doc.title}}</a>
  </div>
  <hr>
  <div class="foot">
    <span class="userinfo">Signed in as {{firebaseService.user.displayName}}</span>
    <a (click)="firebaseService.logout()" *ngIf="firebaseService.user">Sign Out</a>
  </div>
</div>