@import "../../variables.scss";

.page {
  padding-left: 30vw;
}

.editor {
  box-sizing: border-box;
  padding: 2rem 2rem 0 2rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  height: 100vh;

  .top-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;

    .title {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 0.7rem;
      border: none;
      outline: none;

      flex: 1 1;
    }
  }

  .user {
    height: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 1rem;
      margin-right: 0.7rem;
    }

    span {
      font-size: 0.9rem;
    }
  }

  .toolbar {
    margin-bottom: 0.2rem;
    width: 100%;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: flex-start;

    button {
      height: 2rem;
      display: flex;
      flex-direction: row;
      border: 1px solid $stroke-gray;
      border-radius: 1rem;
      align-items: center;
      padding: 0 1rem 0 0.6rem;
      background: none;
      margin-right: 1rem;

      font: inherit;

      img {
        margin-right: 0.5rem;
      }
    }
  }

  .sync-status {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 0.1rem;

    img {
      height: 0.9rem;
      width: 0.9rem;

      filter: opacity(0.3);
    }

    span {
      font-size: 0.8rem;
      color: $text-gray;
    }
  }

  .text {
    width: 100%;
    flex: 1 1;
    overflow: scroll;
    outline: none;
    padding-top: 1.2rem;
    box-sizing: border-box;

    font: inherit;
    border: none;
    outline: none;

    &:empty:before {
      content: "Start your story...";
      color: $text-gray;
    }

    >* {
      margin-top: 0;
      margin-block-start: 0;
    }
  }
}

#spin {
  animation: 1s linear infinite spin;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-360deg);
  }
}