<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Source+Sans+Pro:wght@400;600&display=swap" rel="stylesheet">

<!-- Toolbar -->
<header>
  <span class="serif">MediumWell</span>
    <div class="spacer"></div>
    <nav>
      <a id="about" routerLink="/about">About</a>
      <a routerLink="/dashboard" *ngIf="firebaseService.user" id="dash">Dashboard</a>
      <a (click)="firebaseService.logout()" *ngIf="firebaseService.user">Sign Out</a>
      <app-login-button *ngIf="firebaseService.user === undefined" (click)="firebaseService.login()"></app-login-button>
    </nav>
</header>

<div class="content" role="main">
  <div id="head">
    <span class="title serif">MediumWell.</span>
    <span class="caption">It's like Medium but worse.</span>
  </div>
  <div id="center">
    <div id="img"></div>
    <span class="action">Get started with MediumWell!</span>
    <app-login-button></app-login-button>
  </div>
</div>

<footer>
  <span>© 2020 Tobias Wahyudi</span>
  <div class="spacer"></div>
  <nav>
    <a href="https://github.com/tobiaswahyudi/medium-well">
      <img src="assets/img/github.svg">
    </a>
  </nav>
</footer>