@import "./variables.scss";

html {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.serif {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
}

button, a {
  cursor: pointer;
}