<div class="page" *ngIf="firebaseService.user">
  <app-left-nav></app-left-nav>
  <div class="dashboard">
    <span class="title">My Files</span>
    <div class="toolbar">
      <div class="searchbar">
        <img src="assets/img/search.svg">
        <input placeholder="Search for a file...">
      </div>
      <div class="gridlist">
        <img src="assets/img/grid.svg">
        <span class="switch">
          <input type="checkbox" class="switch" id="switch-id">
          <label for="switch-id"></label>
        </span>
        <img src="assets/img/list.svg">
      </div>
    </div>
    <div class="files">
      <app-dashboard-document *ngFor="let doc of docs" [doc]="doc"></app-dashboard-document>
    </div>
  </div>
</div>